* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto', Verdana, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333333;
}

.link {
	text-decoration: none;
	cursor: pointer;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 235px 965px 1fr;
	grid-template-rows: 66px 1fr 50px;
	min-height: 100%;
}

.header {
	grid-row: 1/2;
	grid-column: 3/4;
}
	.header__bgc {
		background-color: #07569A;
	}

	.header__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-row: 1/2;
		grid-column: 2/3;
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
	}

	.header__margin-left {
		grid-row: 1/2;
		grid-column: 1/2;
	}

	.header__margin-right {
		grid-row: 1/2;
		grid-column: 4/5;
	}

.cart {
	position: relative;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	color: #FFFFFF;
	height: 100%;
}

.cart::before {
	content: "";
	position: absolute;
	left: -45px;
	top: 15px;
	display: block;
	background-image: url(../images/cart.svg);
	width: 40px;
	height: 39.2px;
}

	.cart__cost {
		font-size: 20px;
		font-weight: 700;
	}

	.cart__count {
		font-size: 14px;
	}

.main {
	grid-row: 2/3;
	grid-column: 3/4;
	padding: 25px 30px;
}

.bread-crumb {
	list-style-type: none;
	padding-left: 0;
	margin: 0 0 40px 0;
	font-size: 14px;
}

	.bread-crumb__item {
		position: relative;
		display: inline-block;
		margin-right: 20px;
	}

	.bread-crumb__item:not(:last-child)::after {
		content: "›";
		position: absolute;
		top: -1px;
		right: -15px;
	}

	.bread-crumb__link {
		color: #3072C4;
	}

	.bread-crumb__link:hover {
		text-decoration: underline;
	}

.title_h2 {
	font-size: 32px;
	color: #000000;
	font-weight: 300;
}

.showcase {
	display: grid;
	grid-template-columns: repeat(3, 250px);
	grid-template-rows: 415px;
	grid-gap: 60px;
}

.showcase__item {
	display: flex;
	flex-direction: column;
	height: 100%;
}

	.item__main {
		flex-grow: 1;
	}

	.item__title {
		display: block;
		color: #333333;
		margin-bottom: 10px;
	}

	.item__img {
		margin-bottom: 25px;
	}

	.item__title:hover {
		text-decoration: underline;
	}

	.item__text_hidden {
		color: #A0A0A0;
		margin-bottom: 45px;
	}

	.item__cost {
		font-weight: 700;
		font-size: 28px;
		margin-bottom: 10px;
	}

	.item__btn {
		position: relative;
		display: block;
		line-height: 42px;
		padding-left: 40px;
		background-color: #07569A;
		width: 123px;
		height: 42px;
		color: #FFFFFF;
		font-weight: 400;
	}

	.item__btn::before {
		content: "";
		position: absolute;
		left: 10px;
		top: 10px;
		display: block;
		background-image: url(../images/cart.svg);
		width: 22px;
		height: 21.2px;
	}

	.item__footer {
		height: 100px;
	}

.link_non-active {
	color: #333333;
	pointer-events: none;
}

.side-bar {
	grid-row: 2/3;
	grid-column: 2/3;
	background-color: #E5E4E5;
	padding: 20px;
}

.menu {
	list-style-type: none;
	padding-left: 0;
	font-size: 14px;
	margin: 0;
}

	.menu__item {
		margin-bottom: 20px;
	}

	.menu__link {
		color: #333333;
	}

	.menu__link:hover {
		text-decoration: underline;
	}

.footer {
	grid-row: 3/4;
	grid-column: 2/4;
	padding-top: 16px;
	border-top: 1px solid #D4D4D4;
}